/CMakeFiles/
/Debug/
/VKTS_ShaderGenerator.dir/
/x64/
/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
/cmake_install.cmake
/CMakeCache.txt
/VKTS_ShaderGenerator.sdf
/VKTS_ShaderGenerator.sln
/VKTS_ShaderGenerator.vcxproj
/VKTS_ShaderGenerator.vcxproj.filters
/ZERO_CHECK.vcxproj
/ZERO_CHECK.vcxproj.filters
/VKTS_ShaderGenerator.vcxproj.user
/.vs/VKTS_ShaderGenerator/v14/.suo
/VKTS_ShaderGenerator.VC.db
/VKTS_ShaderGenerator.VC.VC.opendb
